{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Why People Believe in Us</div>
    <p><small class="text-muted">This has got to be one of the most fun industries in the world and we appreciate the fact that we get to be here every day.<br/>  As they say, find something you love and you’ll never have to work a day in your life.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                    <div class="shadow"></div>
                    <div class="card-title">  ICE CREAM FRANCHISE</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Another reason ice cream franchises are so successful is that you have a strong franchise system and network to support you. While each individual franchise will vary a little in how much support they give you, all ice cream franchises offer you training and an infrastructure to help you run your business. This is especially important if you have never owned a business before. </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                    <div class="card-title"> We're Unbiased </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> It can’t be denied. Ice cream brings smiles to people’s faces and joy to their hearts. Because ice cream brings up fond memories of days at the beach and birthday parties, everyone loves to have fun with it, trying new flavors and topping combinations.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                    <div class="card-title"> We Guide you </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>
{% endblock body %}
